@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.AspNetCore.Authorization

@page "/Admin"
@attribute [Authorize(Roles = "Admin")]

<h1>Page Admin</h1>

@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    private bool _isLogged = false;

    private async Task isUserConnected()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isLogged = user.Identity?.IsAuthenticated ?? false;
    }

    private async Task<string> getUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.FindFirst(ClaimTypes.Name).Value;
    }
}
