@page "/Inscription"

<PageTitle>Sign In</PageTitle>

<h1 class="inscription-title">Inscrivez-vous</h1>

<div class="inscription-container">
    <div class="form-container">
        <Formulaireinscription></Formulaireinscription>
    </div>
</div>
